<div class="sidebar-container affix"> 

	<ul class='list-unstyled sidebar-links'>
		<li clasS=''>
			<%= link_to "O teu feed", '/', class: "sidebar-point" %>
		</li>
		<li clasS=''>
			<%= link_to "Plataforma", '/', class: "sidebar-point" %>
		</li>
		
		<li clasS=''>
			<%= link_to "Explora", '/', class: "sidebar-point" %>
		</li>
		<li clasS=''>
			<%= link_to "Comunidades", communities_path, class: "sidebar-point" %>
		</li>
	</ul>

</div>