<div class="sidebar-container affix"> 

	<ul class='list-unstyled sidebar-links'>
		<li clasS=''>
			<%= link_to "O teu feed", edit_user_registration_path, class: "sidebar-point" %>
		</li>
		<li clasS=''>
			<%= link_to "Plataforma", edit_user_registration_path, class: "sidebar-point" %>
		</li>
		
		<li clasS=''>
			<%= link_to "Explora", edit_user_registration_path, class: "sidebar-point" %>
		</li>
		<li clasS=''>
			<%= link_to "Comunidades", edit_user_registration_path, class: "sidebar-point" %>
		</li>
	</ul>

</div>