  <div class="row">
    <div class="col">
      <h3>Trending Posts</h3>
      <div class="flex-center mt-4" data-controller="counter">
        <div class="counter">
          <span data-target="counter.count">bla</span>
        </div>
        <button 
          class="btn btn-outline-secondary"
          data-action="click->counter#refresh"
        >
          Refresh counter
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      trending 1
    </div>
    <div class="col-sm-3">
      trending 2
    </div>
    <div class="col-sm-3">
      trending 3
    </div>
    <div class="col-sm-3">
      trending 4
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <p class> Popular Posts</p>
    </div>
  </div>
  <div class="row">

    <div class="col-8">
      <%= render partial: "posts/list" %>
    </div>

    <div class="col-4">
      <p class = 'h5 mb-2'>Comunidades Trending</p>
        <div class = 'card'>
          <ul class="list-group">
            <% @communities.each do |community| %>
              <li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
            <% end %>
          </ul>
        </div>
      <%= link_to "View all", communities_path, class: "btn btn-primary mt-2" %>
    </div>
  </div>
