body {
	max-width: 100vw;
}

.background-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	background: image-url('img-noise.png'), #f7f4ef;
	background-position: center;
	object-fit: cover;
}

.main-layout {
	display: flex;
	padding-top: 130px;
}
.yield-container {
	padding: 90px;
	margin: 0 auto;
	flex-shrink: 1;
}
.layout-sidebar {
	z-index: 8;
	position: fixed;
	top: 0;
	bottom: 0;
}

.fake-sidebar {
	max-width: 300px;
	min-width: 300px;
	flex-shrink: 0;
}

@media only screen and (max-width: 1200px) {
	/* For desktop: */
	.yield-container {
		padding: 20px;
	}
	.fake-sidebar {
		display: none;
	}
}
