.vote {
	text-align: center;
	padding: 0px;
}
.upvote {
	display: block;
	width: 100%;
	padding-top: 10px;
	background-color: transparent;
	padding-bottom: 10px;
	color: black;
	&.active {
		color: #d95362;
	}
}

.downvote {
	display: block;
	background-color: transparent;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	&.active {
		color: #d95362;
	}
}

.post-total-votes {
	text-align: center;
}
